.container{
  width: 42px;
  height: 24px;
  border: 1px solid #70dfa8;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2px;
  position: relative;
  cursor: pointer;
}

.icon{
  font-size: 12px;
}

.ball{
  width: 16px;
  height: 16px;
  background-color: #53c28b;
  border-radius: 50%;
  position: absolute;
}