.container {

}

.cartTitle {
    font-size: 40px;
}

.item {
    display: flex;
    gap: 100px;
    margin: 50px 0 100px 0;
}

.item:nth-child(2n +1){
    flex-direction: row-reverse;
}


.imgContainer {
    flex: 1;
    height: 500px;
    position: relative;
}

.img {
    object-fit: cover;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.title {
    font-size: 40px;
}

.desc {
    font-size: 20px;

}